// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&family=Poiret+One&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

// Variables
@import 'variables';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card .div_weather_data{
	word-wrap: normal; // override bootstrap .card default of 'break-word'
}

.weather_data{
    font-family: Baloo, sans-serif;
    .btn_fetch_latest
    {
        border: 1px solid #3490dc
    }


    i{
            font-size: 1.3em;
            color: #808080;		
    }
    .fa-sun, .fa-bolt{
            color:#b3b300

    }

    .fa-cloud-sun{
            color: #666600;
    }		
    .weather_row_top{

            i{
                    font-size: 2em;
            }

    }    
    
		
    .fa-temperature-high {
            color:red !important;

    }
    .fa-temperature-low{
            color:darkblue !important;

    }	

    .weather_data_today{
    padding: 10px 0;	
    /*border-top: 2px solid #ccc; */
    border-bottom: 1px solid #3490dc;
    margin:10px 0 10px;
    .main_icon > i {
            font-size: 7em
    }
     }
/*
    span, i {
            font-size: 2em
    }*/
    #today-weather-row-extra{
            font-size:1.2em
    }
    #today-weather-row-extra-span{
            font-size:1.1em
    }
    
    .weather_data_five_day
    {

        word-wrap: normal;

    }
   
}

